<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ActionCable Chat Example</title>
    <link rel="stylesheet" href="/asset/app.css">
  </head>
  <body class="pending">

    <div class="messages"></div>

    <div class="deliver">
      <div class="input-line">
        <input type="text" autoFocus />
        <button>Send</button>
      </div>
    </div>

    <div class="whoami">
      <h3>My name is:</h3>
      <div class="input-line">
        <input type="text" autoFocus />
        <button>Set</button>
      </div>
    </div>

    <div class="disconnected">
      <span class="icon">⚠</span>
      Connection has been lost
    </div>

    <script src="/asset/app.js"></script>
  </body>
</html>
